################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectBoostGame/v15/Browse.VC.opendb
/.vs/ProjectBoostGame/v15/Server/sqlite3
